* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.h2 {
    width: 1000px;
    text-wrap: nowrap;
    height: 6rem;
    box-shadow: inset -4px -4px 5px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.3);
    margin-bottom: -3rem;
    text-align: center;
    padding: 2rem 1rem 0 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 27px;
    font-weight: 500;
    text-shadow: 1px 1px 3px aqua;
    word-spacing: 4px;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #dde1e7;
    width: 100vw;
}

.keyboard__section {
    width: 1000px;
    background-color: #dde1e7;
    box-shadow: -4px -4px 5px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.3);
    border-radius: 0.3rem;
    padding: 2rem;
    margin: 4rem;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    box-shadow: -4px -4px 5px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.3);
    background-color: #dde1e7;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: #808080;
    display: inline-block;
    cursor: pointer;
}

.X {
    border: none;
    box-shadow: -4px -4px 5px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.3);
    background-color: #dde1e7;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 3rem;
    height: 2rem;
    position: absolute;
    right: 4px;
    top: 3px;
    color: black;
    cursor: pointer;
}

.X svg {
    width: 1.8rem;
    height: 2.7rem;
}

.btn[value="SPACE"] {
    width: 50%
}

.btn:focus {
    box-shadow: inset -4px -4px 5px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.3);
    color: #3498db;
    font-size: 1.3rem;
}

.X:focus {
    box-shadow: inset -4px -4px 5px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.3);
    color: #3498db;
    font-size: 1.3rem;
}

@media screen and (max-width:900px) {
    .keyboard__section {
        width: 850px;
        padding: 1.5rem;
    }

    .h2 {
        width: 850px;
    }

    .row {
        gap: 1rem;
        margin-bottom: 0.8rem;
    }

    .row input {
        height: 2.3rem;
        width: 2.3rem;
        font-size: 1.2rem;
    }

    .row input:focus {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:590px) {
    .keyboard__section {
        width: max-content;
        padding: 1.5rem;
        padding-top: 2.3rem;
    }

    .h2 {
        width: 500px;
    }

    .row {
        gap: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .row input {
        height: 2.6rem;
        width: 1.8rem;
        font-size: 1.2rem;
    }

    .row input:focus {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:500px) {
    .keyboard__section {
        width: 350px;
        padding: 1.5rem 0.5rem;
        padding-top: 3rem;
    }

    .h2 {
        width: 350px;
        font-size: 20px;
    }

    .row {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .row input {
        height: 2.3rem;
        width: 1.5rem;
        font-size: 1rem;
    }

    .row input:focus {
        font-size: 0.9rem;
    }
}